html,
body {

    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
}

.window {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background: #111;
    display: flex;
}

.drag-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    -webkit-app-region: drag;
    z-index: 10;
}

.close-btn {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 18px;
    height: 18px;
    background: #ff4d4d;
    border-radius: 50%;
    cursor: pointer;
    z-index: 20;
    -webkit-app-region: no-drag;
    transition: 0.2s;
    box-shadow: 0 0 8px rgba(255, 80, 80, 0.7);
}

.close-btn:hover {
    background: #ff1a1a;
    transform: scale(1.15);
}

webview {
    width: 100%;
    height: 100%;
    border: none;

}