html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.drag {

        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        -webkit-app-region: drag;
}